.DS_Store
*.swp
*~

build/
DerivedData/

xcuserdata/
*.xcscmblueprint
*.xccheckout

*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

Pods/
!Podfile.lock

.build/
Packages/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*.ipa
*.dSYM.zip
*.dSYM